:root {
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #6b6a6a;
    --color-dark4: #000000;
    --color-dark5: #343434;
    --color-blue: #0099ff;
    --color-blue2: #1b269c;
    --color-green: #00ffae;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.hidden {
    display: none;
}

nav {
    background-color: var(--color-dark5);
    text-align: center;
    padding: 5px;

}
a{
    text-decoration: none;
    color: var(--color-blue);
    transition: 1s;
}
a:hover{
    color: var(--color-green);
}


.categoria {
    margin: 10px;
    color: var(--color-blue);
    padding: 5px;
    text-decoration: none;

}
* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}
nav{
    background-color: black;
    display: flex;
}
nav a{
    flex: 1;
    text-align: center;

}

.img_logo_header {
    width: 50%;
    height: 50%;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-dark4);
    justify-content: space-between;
    padding: 0 10%;
    height: 100px;
    backdrop-filter: blur(10px);
}

.header p {
    color: var(--color-white);
    font-weight: bold;
}


.navigation_header {
    gap: 3em;
    z-index: 2;
}

.content {
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-blue);
    transition: 1s;
}

.navigation_header a:hover {
    color: var(--color-green);
}

.active {
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header {
    background: transparent;
    border: none;
    color: var(--color-dark4);
    cursor: pointer;
    display: none;
}

@media screen and(max-width: 1920px) {
    .img_logo_header {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .navigation_header {
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .btn_icon_header {
        display: block;
    }
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    to {
        margin-left: -10vw;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container-pesquisa {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.pesquisar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, var(--color-green), var(--color-blue));
    height: 50px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}


.txtpesquisar {
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 0;
    padding: 0px;
    transition: 0.4s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.txtpesquisar::placeholder {
    color: white;
}

.btpesquisar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.lupa-branca {}

.pesquisar:hover>.txtpesquisar {
    width: 320px;
    padding: 10px;
}

.pesquisar:hover>.btpesquisar {
    background: #0070C9;
}

.pesquisar:hover {
    background-image: linear-gradient(to right, var(--color-green), var(--color-blue));
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: rgb(255, 255, 255);
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 30px;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 30px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: transparent;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.card-content p {
    margin: 10px 0;
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    max-height: 3.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-content .price {
    font-weight: bold;
    color: #333;
    font-size: 16px;
}
.product-price{
    font-weight: bold;
}

.btn-carrinho {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.btn-carrinho:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-cadastrar {
    display: none;
    margin-bottom: 20px;
}


.product-image-button:hover .product-image {
    transform: scale(1.1);
}

.product-image {
    max-width: 100px;
    transition: transform 0.3s;
}

.button {
    background-color: #0099ff;
    color: #fff;
    border: solid 1px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
    transition: 1s;
}

.button:hover {
    background-color: #0056b3;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

menu {
    display: none;
}

menu>ul {
    list-style-type: none;
}

#burguer {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#burguer:hover {
    background-color: rgb(87, 85, 85);
}

.containerOferta {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to right, var(--color-green), var(--color-blue));
    height: 50px;
}

.oferta {
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.selectAdress{
    background: linear-gradient(to right, var(--color-green), var(--color-blue));
    border-radius: 3px;
}
.editAdress{
    background: linear-gradient(to right, var(--color-green), var(--color-blue));
    border-radius: 3px;
}
.deleteAdress{
    background: linear-gradient(to right, var(--color-green), var(--color-blue));
    border-radius: 3px;
}

.hidden {
    display: none;
}

.product-container {
    margin-top: 30px;
    display: flex;
    margin-bottom: 20px;
}

.product-image-wrapper {
    margin-right: 10px;
}

.product-details {
    flex-grow: 1;
}

.product-name {
    font-weight: bold;
}

.product-quantity-wrapper {
    margin-top: 10px;
}

.total-wrapper {
    margin-right: 20px;
    text-align: right;
    font-weight: bold;
}


.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.product-image {
    max-width: 100px;
}

.product-quantity {
    margin: 0 5px;
    font-weight: bold;
}
#listaEnderecos {
    display: none;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, #414141, black);
}

#listaEnderecos th {
    border: none;
    padding: 8px;
    text-align: left;
    border-radius: 10px;
}

#listaEnderecos td {
    border: none;
    padding: 8px;
    border-radius: 10px;
}
#enderecoForm {
    margin-top: 30px;
    display: none;
    background: linear-gradient(to right, #414141, black);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 95%;
    margin-left: 10px;
}

#enderecoForm h2 {
    color: white;
    margin-bottom: 10px;
    width: 100%;
}

#enderecoForm label {
    display: none; /* Oculta os labels */
}

#enderecoForm input {
    border: none; /* Remove a borda */
    background: transparent; /* Remove o fundo */
    color: white; /* Define a cor do texto */
    padding: 5px; /* Adiciona um pequeno preenchimento */
    box-sizing: border-box; /* Faz com que o preenchimento não aumente a largura total */
    transition: background 1s ease-out;
}

#enderecoForm input::placeholder {
    color: white; /* Define a cor do placeholder */
}

#enderecoForm input[type="submit"] {
    background: linear-gradient(to right, var(--color-green), var(--color-blue)); /* Fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Adiciona um preenchimento ao botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    cursor: pointer; /* Muda o cursor ao passar por cima do botão */
    width: 100%;
}

#enderecoForm input[type="submit"]:hover {
    background: linear-gradient(to right, var(--color-blue), var(--color-green)); /* Altera a cor de fundo ao passar por cima */
}

#mensagem {
    color: white;
    margin-top: 10px;
}