button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

#listaEnderecos{
    margin-top: 30px;
    padding: 30px;
    margin-left: 10px;
}