:root {
    --color-blue: #0099ff;
    --color-blue2: #1b269c;
    --color-green: #00ffae;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #414141, black);
    font-family: Arial, sans-serif;
}

.container {
    width: 40%;
    margin: 50px auto;
    background: linear-gradient(to right, #414141, black);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--color-green), var(--color-blue));
}

input[type="submit"]:hover,
button:hover {
    background-image: linear-gradient(to right, var(--color-green), var(--color-blue));
}

a {
    color: #2980B9;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.success-message {
    background-image: linear-gradient(to right, var(--color-green), var(--color-blue));
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}

h2 {
    text-align: center;
}

input[type="file"] {
    display: none;
}

.file-upload-btn {
    display: inline-block;
    background-image: linear-gradient(to right, var(--color-green), var(--color-blue));
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.file-upload-btn:hover {
    background-image: linear-gradient(to right, var(--color-blue), var(--color-green));
}

.file-upload-btn input[type="file"] {
    display: none;
}

a {
    justify-content: center;
    align-items: center;
    display: flex;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a3d1a8; 
    border: 1px solid #000000;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
textarea{
    font-family: Arial, sans-serif;
    font-size: 12px;
}